@import '@/styles/style.scss';

.topBtnBLock {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);

    @include RWD(sm) {
        flex-direction: column;
    }
}

.companyWorks {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include RWD(sm) {
        margin-top: 40px;
    }
}

.iconBlock {
    width: 100px;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0;
    }
}

.infoCard {
    background-color: #fbfbfb;
    margin-top: 36px;
    display: flex;
    border-radius: 8px;

    @include RWD(sp820) {
        width: 100%;
        flex-direction: column;
    }
}

.infoCardContent {
    width: 70%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include RWD(sp820) {
        width: 100%;
    }
}

.infoImage {
    width: 30%;
    position: relative;
    padding: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include RWD(sp820) {
        width: 100%;
    }

    .imageWrapper {
        width: 100%;
        padding-top: 75%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.type {
    margin-right: 12px;
    color: #5c5c5c;
}

.tagBlock {
    margin-top: auto;
    display: flex;
}

.tag {
    background-color: #eefdf3d8;
    color: #4EAC85;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
}

.infoCardTitle {
    display: flex;
    justify-content: space-between;

    @include RWD(sm) {
        width: 100%;
        flex-direction: column;
    }
}

.infoCardIcon {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    @include RWD(sm) {
        justify-content: unset;
    }
}

.editIcon {
    background-color: rgb(241, 219, 108);
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.trashIcon {
    background-color: rgb(254, 109, 109);
    border-radius: 8px;
    color: white;
    padding: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.switchContainer {
    display: flex;
    align-items: center;

    span {
        flex: 1;
    }
}