@import '@/styles/style.scss';

.cmsVisualSetting {

    padding-bottom: 50px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    h3 {
        margin: 0;
    }


    
}