@import '@/styles/style.scss';

.reservationPortfolioSearchBar {
    
    margin-bottom: 20px;
  

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        background-color: $white;
      
        

        &_search {
            
            width: 100%;
            display: flex;
            background-color: $light-gray;

            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
              
                padding: 0 10px;
            }
        }

        &_filter {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $light-gray;
            padding: 0 10px;
            border-radius: 4px;
            height: 35px;
            cursor: pointer;
        }
    }

    input {
        
        height: 40px;
        background-color: $light-gray;
        width: 100%;
        padding: 0 10px;
        border: 1px solid $light-gray;

        &:focus{
            outline: none;
        }
    }
}