@import '@/styles/style.scss';

.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: $black;
    text-align: center;

    &__header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid $gray;
        
        
    }

    &__container {


        width: 100%;
        min-height: calc(100vh - 300px);
        display: flex;
        justify-content: center ;
        flex-direction: column;
        align-items: center;
        

        &_errorMessage {
           
            margin: 0;
            line-height: 1.5;
            text-align: center;
            font-family: var(--font-montserrat);
            padding-bottom: 50px;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        }

        h1 {
            font-size: clamp(30px, 1.822vw, 35px);
            margin: 0;
            line-height: 1.5;
            text-align: center;
           
        }

        p {
            margin: 0;
           
        }

        &_redirect {
            margin-top: 20px;
            color: $white;
            cursor: pointer;
            border: $primary-green;
            background-color: $black;
            padding: 10px 20px;
            border-radius: 4px;
            width: 100%;
            max-width: 200px;
            // min-width: 200px;
            
            ;
        }
      
    }

    &__footer {

        // border: 1px solid red;
        width: 100%;
        height: 40px;
        background-color: $black;
        color: $white;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}