@import '@/styles/style.scss';

.cmsArticleTime {

    margin-bottom: 15px;

    &__required {
        color: $red;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

}