@import '@/styles/style.scss';
.cmsTextarea {

    // border: 1px solid red;

    label {

        
    }

    textarea {
        background-color: $light-gray;
        padding: 5px 10px;
        border: none;
        width: 100%;
        resize: none;
        height: 80px;

        &:focus{
            outline: none;
        }
    }

    &__required {
        color: $red;
    }
}