$primary-green: #51BA97;
$black: #171717;
$white: #fcfcfc;
$gray:  #e8e8e8;
$secondary-gray: #9b9b9b;
$dark-gray: #6c6c6c;
$light-gray:  #F8F9FAFF;
$deep-blue: #104f78;
$light-blue: #F1F8FDFF;
$blue: #3366b8;




$red: #D0104C;

$second-title: #9095A1;
$remind: #6f6f6f;


$market: #f69451;
$forum: #f5adcc;
$pitching: #50be9c;


$dark_market: #f3794c;
$dark_forum: #f290bb;
$dark_pitching: #14b68c;

$light_market: #fab172;
$light_forum: #f8cbdf;
$light_pitching: #7dcab6;